<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- Define onde os logs serão gravados (console, arquivo, banco de dados, etc) -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Logger específico para "src" com nível de log INFO -->
        <Logger name="src" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Logger global, usado se nenhum Logger específico for encontrado -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
